{% extends 'navbar.html' %}

{% block title %}
<title>Testimonials - Troy Edwards</title>
{% endblock %}

{% block content %}
<h1>Testimonials</h1>
<ul>
    <li>"Troy is going to love 5th grade!" - Ms. Fehrenbacher, 2016</li>
    <li>"david baseball" - Kyle Schroer, 2023</li>
    <li>"He is learning the importance of respecting property and others." - Ms. Redfield, 2013</li>
    <li>"I probably haven't ever had someone I sent out of class soooo much that I enjoyed in class just as much." -
        Mr. Kitley, 2018</li>
</ul>
{% endblock %}